img {
    border-radius: 50%;
}

body {
    background: hsl(110, 47%, 44%);
    height: 100vh;
}

.info {
    display: flex;
}

.btns {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
}


.gameBoard {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btns {
    display: flex;
    justify-content: center;
}