* {
    margin: 0;
    padding: 0;
}

img {
    border-radius: 50%;
}

body {
    box-sizing: border-box;
    margin: 0;
    height: 100vh;
    background: hsl(110, 47%, 44%);
}

.info {
    display: flex;
    justify-content: space-around;
    font-size: 40px;
}

.btns {
    display: flex;
    justify-content: center;
    margin-bottom: 6vh;
    gap: 5px
  }

  button {
    background-color: white;
    padding: 10px;
  }

.gameBoard {
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
}